body {
  margin: 0;
  padding: 0;
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  background: black;
}
.container {
  color: blueviolet;
  transition: 2s;
}
.container h2:hover {
  color: rgb(27, 80, 179);
  box-shadow: 0 0 10px rgb(27, 80, 179), 0 0 20px rgb(27, 80, 179),
    0 0 10px rgb(27, 80, 179), 0 0 20px rgb(27, 80, 179),
    0 0 20px rgb(2, 35, 95), 0 0 10px rgb(2, 35, 95), 0 0 20px rgb(2, 35, 95),
    0 0 20px rgb(2, 35, 95), 0 0 20px rgb(2, 35, 95), 0 0 50px violet,
    0 0 50px violet, 0 0 50px violet, 0 0 50px violet, 0 0 50px violet;
  transition: 5s;
}
